@import "./base.css";

#app {
  color: black;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

body{
  background: #00A741;
}




@media (hover: hover) {

}

@media (min-width: 1024px) {

}
